

.course-page { 
    padding: 9% ;
    padding-top: 8%;
    border-style: 1px solid;
    display: inline-block   ;
}

.mix{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.courses2{
width: 75%;
float: left;
}

.courses2 div {
    color: black;
    background-color: white;
    list-style: none;
    width: 100%;
    padding-bottom: 1.875em;

}

hr{
    width: cover;
}

.courses2 div img {
    height: 31.25em;
    width: 100%;
}


.courses2 div h5{
font-size: 2.5em;
margin-left: 2.5em;
font-family: 'Ubuntu', sans-serif;
}
 

.courses2 div p{
    font-size: 1.875em;
    width: cover;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding: 0 3.125em;
font-family: Arial, Helvetica, sans-serif;
}


.courses2 h4 {
   
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    font-size: 2.5em;
    margin-left: 1.25em;
    float: left; 
   margin: cover; 
}
.courses2 div button {
    width: 20%;
    height: 3.125em;
    margin-top:  2.5em;
    background-color: #FFD523;
    border: 00.5px solid #50CB93;
    border-radius: 0.3125em;
    color: #595260;
    font-family: Roboto Mono;
    font-size: 0.9375em;
    font-weight: bold;
    margin-left: 70%;
}



.courses2 div button h4 {
    display: inline-block;
}

.courses2 div button:hover {
    background-color: #595260;
    color: #FFD523;
}
.btn{
    width: 20%;
    margin-left: 5em;
    height: 20em;
    display: inline-block;
}

.btn ul {
    position: fixed;
    display: inline-block;
   list-style: none;
   top: 18em;
   right: 0px;
   left: 90em;
   width: 15.625em;

}



.btn input {
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    width: 150%;
    padding: 0.625em;
    background: linear-gradient(50deg, #5b9ef0, #4371a8, #1f5494);
    border-radius: 0.375em;
}
.btn  li {
    padding: 0.625em;
}
