html {
    padding: 0%;
    margin: 0%;
}
/* body {
    padding: 15px 30px; */
    /* background-color: #;
} */
header {
    display: flex;
    justify-content: space-between;
    background-color: #595260;
}
.logo {
    padding: 0 50px;
}
.logo a, .logo h1{
    color: #FFD523;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    align-self: center;
    padding: 0 50px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul li a{
    margin:  10px;
    color: #FFD523;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* main{
    background-color: #FFD523;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0; 
} */
main .code-editor {
    float: right;
    width: 50%;
    margin-left: 100px;
}
.container {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.container .course-image{
    width: 50%;
}
.container .course-discription{
    width: 50%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: rgb(94, 97, 93);
  
  margin: 2% 10% 2% 10% ;
}
.about{
    /* background-color: rgb(25, 155, 46); */
    width: 20%;
    display: inline-block;
    margin-top: 1%;
    margin-left: 3%;
}

h2{
    padding-left:7%;
    
}
.about ul li a {
    font-size: 100%;
    
}
.about p{
    font-size: 79%;
    background-color: darkblue;
}
.about1 {
    
    /* background-color: brown; */
    width: 20%;
    display: inline-block;
    margin-top: 1%;
    margin-left: 3%;
}